/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --bg-black-1: #212121;
  --bg-black-2: #2C2C2C;
  --bg-black-3: #474747;
  
  --border-black-1: #080808;

  --primary-color: #FF6900;
  --primary-color-1: #f87e27;
  --primary-6: 255,105,0;
}

body[arco-theme='dark'] {
  color: white;
  --primary-6: 255,105,0;
}